// TODO: Dark theme
.tt-features-status {
  position: fixed;
  z-index: 5;
  padding: 7px 14px;
  width: 150px;
  border-radius: 10px;
  overflow: auto;
  max-height: calc((100vh - 100px) - 50px);
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgrey;
  // TODO: Position based
  bottom: 50px;
  left: 208px;

  .tt-features-status-header {
    border-bottom: 2px solid lightgray;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
  }

  // .tt-featured-status-content {
  // }

  .tt-feature-status-container {
    padding: 1px 0px;
  }

  .tt-feature-status-container > span {
    margin-left: 5px;
  }

  .tt-active-feature {
    // TODO: CSS variables
    color: green;
  }

  .tt-inactive-feature {
    // TODO: CSS variables
    color: yellow;
  }

  .tt-failed-feature {
    // TODO: CSS variables
    color: red;
  }
}
